# One Hot ENCODING

In [20]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [8]:
df=pd.DataFrame({'color':['red','blue','green','green','red','blue']})
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [4]:
#Create instance of OneHotEncoder
encoder=OneHotEncoder()

In [13]:
#Sparse Matrix from created/
encoded=encoder.fit_transform(df[['color']])

In [16]:
encoded_df=pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [19]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

# Label and Ordinal Encoding

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
df=pd.DataFrame({'color':['red','blue','green','green','red','blue']})
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [24]:
encoder=LabelEncoder()

In [25]:
encoder.fit_transform(df['color'])

array([2, 0, 1, 1, 2, 0])

In [26]:
#Ordinal assings using ranks

In [27]:
from sklearn.preprocessing import OrdinalEncoder

In [28]:
df=pd.DataFrame({'color':['red','blue','green','green','red','blue']})
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [30]:
encoder=OrdinalEncoder(categories=[['red','green','blue']])

In [31]:
encoder.fit_transform(df[['color']])

array([[0.],
       [2.],
       [1.],
       [1.],
       [0.],
       [2.]])

# Target Guided Ordinal Encoding/

In [32]:
# encode categorial variable based on relationship with target variable

In [35]:


# create a sample dataframe with a categorical variable and a target variable
df = pd.DataFrame({
    'city': ['New York', 'London', 'Paris', 'Tokyo', 'New York', 'Paris'],
    'price': [200, 150, 300, 250, 180, 320]
})

In [36]:
## calculate the mean price for each city
mean_price=df.groupby('city')['price'].mean().to_dict()
mean_price

{'London': 150.0, 'New York': 190.0, 'Paris': 310.0, 'Tokyo': 250.0}

In [38]:
## replace each city with its mean price
df['city_encoded']=df['city'].map(mean_price)
df

       city  price  city_encoded
0  New York    200         190.0
1    London    150         150.0
2     Paris    300         310.0
3     Tokyo    250         250.0
4  New York    180         190.0
5     Paris    320         310.0